:root {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f4f4f4;
}
h1 {
  text-align: center;
}
input[type="text"] {
  padding: 0.3rem;
  border: 1px solid #00000056;
  border-radius: 4px;
  outline: none;
}
.main {
  max-width: 400px;
  width: 80%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.field-order,
.field-nsu > div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex-grow: 1;
}
.field-nsu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: .3rem;
}
.field-nsu > button {
  padding: .3rem;
  border: 1px solid #00000056;
  border-radius: 4px;
  outline: none;
  height: min-content;
}
.field-nsu > button:hover {
  background-color: #c4ddd6;
}
#btn-search {
  padding: 0.5rem 0;
  width: 50%;
  border-radius: 1rem;
  border: 1px solid #00000056;
  outline: none;
  background-color: #dee4deee;
  left: 50%;
  transform: translateX(50%);
}

#btn-search:hover {
  background-color: #c4ddd6;
}


.popup {
  position: relative;
  bottom: 135px;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}